# --- SYMFONY ---
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
/config/secrets/prod/prod.decrypt.private.php

# --- PHPUNIT ---
/phpunit.xml
.phpunit.result.cache

# --- FICHIERS PROJET & UPLOADS ---
/uploads/
assets/uploads/
/storage/
/cache/
/logs/
/temp/
*.log

# --- NODE & FRONTEND ---
node_modules/
.parcel-cache/
.vite/
.next/
.nuxt/

# --- IDE & SYSTÈME ---
/.idea/
.vscode/
.DS_Store
Thumbs.db
*.swp
*.swo
*~
.project
.settings/
